@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

h1,
h2 {
  font-family: "Michroma", sans-serif;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

#apod-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for titel */
#apod-title {
  font-size: 4rem;
  color: #4b1592;
  margin-bottom: 20px;
}

/* Styling for beskrivelsen */
#apod-description {
  font-size: 1.5rem;
  color: #4b1592;
  line-height: 1.5;
  margin-top: 40px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#apod-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#apod-media img {
  border-radius: 15px;
  box-shadow: 3px 6px 9px rgb(77, 54, 99);
}

